In [24]:
claims = [1, 2, 3, 4, 5]
dates = [
    "<b class='table-label'>Filed Date</b><span class='table-content'>10/17/2019</span>",
    "<b class='table-label'>Filed Date</b><span class='table-content'>11/10/2019</span>",
    "<b class='table-label'>Filed Date</b><span class='table-content'>11/12/2019</span>", 
    "<b class='table-label'>Filed Date</b><span class='table-content'>12/07/2019</span>", 
    "<b class='table-label'>Filed Date</b><span class='table-content'>12/27/2019</span>" 
]
totals = [
    "<b class='table-label'>Claim Value</b><span class='table-content'>$10.00</span>",
    "<b class='table-label'>Claim Value</b><span class='table-content'>$20.00</span>",
    "<b class='table-label'>Claim Value</b><span class='table-content'>$30.00</span>",
    "<b class='table-label'>Claim Value</b><span class='table-content'>$40.00</span>",
    "<b class='table-label'>Claim Value</b><span class='table-content'>$50.00</span>"    
]

In [2]:
import pandas as pd
from bs4 import BeautifulSoup

In [25]:
df = pd.DataFrame(zip(claims, dates, totals),
                 columns = ["claims", "dates", "totals"])

df

,claims,dates,totals
0,1,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
1,2,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
2,3,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
3,4,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
4,5,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   claims  5 non-null      int64
 1   dates   5 non-null      object
 2   totals  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [30]:
### function to strip all the html using beautifulsoup

def strip_html(target):
    target = str(target)
    soup = BeautifulSoup(target, "html.parser")
    return (soup.find("span", class_="table-content").get_text())

In [31]:
target_cols = ["dates", "totals"]

In [32]:
df["dates"]

0    <b class='table-label'>Filed Date</b><span cla...
1    <b class='table-label'>Filed Date</b><span cla...
2    <b class='table-label'>Filed Date</b><span cla...
3    <b class='table-label'>Filed Date</b><span cla...
4    <b class='table-label'>Filed Date</b><span cla...
Name: dates, dtype: object

In [33]:
for target in target_cols:
    df[target] = df[target].apply(lambda x: strip_html(x))

In [34]:
df

   claims       dates  totals
0       1  10/17/2019  $10.00
1       2  11/10/2019  $20.00
2       3  11/12/2019  $30.00
3       4  12/07/2019  $40.00
4       5  12/27/2019  $50.00